{% include "rl_header.jinja2" %}
    <body>
        <div class = "nopix">
            <h1>RAMList - {{ pageinfo["title"] }}</h1>
            <h4><a href="..">Back to menu</a>
{{ content|safe }}
        </div>
{% include "rl_footer.jinja2" %}
