<!DOCTYPE html>
<html>
    <head lang="en">
        <!-- Windows meta tags -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="msapplication-TileColor" content="{{ pageinfo["color"] }}">
        <!-- Main tags -->
        <meta charset="UTF-8">
        <title>{{ pageinfo["title"] }}</title> 
        <meta name="generator" content="CTCL Website Backend">
        <meta name="author" content="CTCL">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="{{ pageinfo["desc"] }} - CTCL">
        <!-- OpenGraph meta tags -->
        <meta property="og:url" content="https://www.crazyblockstech.com">
        <meta property="og:site_name" content="CTCL">
        <meta property="og:title" content="{{ pageinfo["title"] }}">
        <meta property="og:locale" content="en_US">
        <meta name="theme-color" content="{{ pageinfo["color"] }}">
        <meta property="og:description" content="{{ pageinfo["desc"] }} - CTCL">    
        <!-- Include CSS here -->
        <style>
{{ pageinfo["css"]|safe }}
        </style>
    </head>
    <body>