{% include "main/projects_header.html" %}
    <h2 class="center pix">Projects</h2>{% for key, value in menu.items %}
    <hr>
    <h3 class="sectionheader pix">{{ value.title }}</h3>
    <p>{{ value.desc }}</p>{% for subpage in value.subpages %}
    <section class="projectitem theme-{{ subpage.theme }}">
        <p class="projecttitle"><a href="{{ subpage.link }}/"><button>{{ subpage.title }}</button></a></h5>
        <p>{{ subpage.desc }}</p>
    </section>{% endfor %}{% endfor %}
    </a>
    <hr>
{% include "footer.html" %}