{% include "main/projects_header.html" %}
    <h2 class="center pix">Projects</h2>{% for key, value in menu.items %}
    <hr>
    <h3 class="sectionheader pix">{{ value.title }}</h3>
    <p>{{ value.desc }}</p>{% for subpage in value.subpages %}
    <div class="projectitem" style="border-color: {{ colors|get_item:subpage.theme }}">
        <h5 style="background-color: {{ colors|get_item:subpage.theme }}"><a style="color: {{ fgcolors|get_item:subpage.theme }}" href="{{ subpage.link }}/">{{ subpage.title }}</a></h5>
        <p>{{ subpage.desc }}</p>
    </div>{% endfor %}{% endfor %}
    </a>
    <hr>
{% include "main/footer.html" %}
