{% include "lite/about_header.html" %}
    <section style="height: auto">
        <p>This is the compatibility version of the website for older browsers or browsers without JavaScript. The full website can be found <a href="/">here</a></p>
    </section>
    <hr>
    {% for section in sections %}
    <section style="background-image:url({{ section.bgimg }})">
        <h2 class="sectionheader pix">{{ section.title }}</h2>
        {{ section.rendered|safe }}
    </section>
    <hr>{% endfor %}
{% include "footer.html" %}
