{% include "rl_header.jinja2" %}
    <body>
<!-- end header -->
<!-- start content -->
    <div class="nopix">
        <h1><a href="..">RAMList</a> - {{ pageinfo["title"] }}</h1>
        <h4><a href="..">Back to menu</a><br>Entries: {{ listcontents["count"] }}</h4>{% for vendor in listcontents["brands"] %}
        <h2>{{ vendor }}</h2>
        <table style="width: {{ table_width }}">
            <tr>{% for header in listcontents["tindex"] %}
                <th width="{{ header["width"] }}">{{ header["title"] }}</th>{% endfor %}
            </tr>{% for entry in listcontents[vendor] %}
            <tr>{% for item in listcontents["header_keys"] %}
                <td>{{ entry[item] }}</td>
            {% endfor %}</tr>{% endfor %}
        </table>{% endfor %}
    </div>
<!-- end content -->
<!-- start footer -->
    <br>
    <!-- override hr width -->
{% include "rl_footer.jinja2" %}
<!-- end footer -->
