{% include "main_header.jinja2" %}
{% for section in sections %}
    {% if section["bgimg"] == "" %}
    <section>{% else %}
    <section style="background-image:url(/static/bgimg/{{ section["bgimg"] }})">{% endif %}
         {{ section["rendered"]|safe }}
    </section>
    <hr>
    {% endfor %}
{% include "main_footer.jinja2" %}
